<a href="https://colab.research.google.com/github/Krishnadayal/Data-Science-Project-Lifecycle/blob/main/Finalised_Train.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Data Preprocessing**

#### **Data Exploration**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train_data = pd.read_csv('traincsv.csv', low_memory = False)
train_data

,Customer_ID,outlet_city,luxury_sales,fresh_sales,dry_sales,cluster_catgeory
0,10493832.0,Kelaniya,1209.6,756,5292,4
1,10178643.0,Moratuwa,1590.12,1060.08,6007.12,1
2,10513916.0,Wattala,2288.88,1481.04,9155.52,4
3,10334589.0,Wattala,2274.94,1739.66,9099.76,4
4,10458365.0,Kelaniya,2345.49,2069.55,9243.99,4
...,...,...,...,...,...,...
774150,10197979.0,Gampaha,3893.4,3893.4,3448.44,3
774151,10494575.0,Katunayake,6095.86,5557.99,6275.15,3
774152,10565682.0,Colombo,5121.42,4820.16,4669.53,3
774153,10351977.0,Kandy,6311.76,6311.76,5940.48,3
774154,10637635.0,Negombo,5833.5,6027.95,6611.3,3

In [3]:
train_data.columns

Index(['Customer_ID', 'outlet_city', 'luxury_sales', 'fresh_sales',
       'dry_sales', 'cluster_catgeory'],
      dtype='object')

In [4]:
train_data.shape

(774155, 6)

In [5]:
train_data.dtypes

Customer_ID         float64
outlet_city          object
luxury_sales         object
fresh_sales          object
dry_sales            object
cluster_catgeory     object
dtype: object

Changing the data types of the column & handling the error values

In [6]:
problematic_rows = train_data[~train_data["luxury_sales"].astype(str).str.replace('.', '', 1).str.isnumeric()]
print(problematic_rows[["luxury_sales"]])

                               luxury_sales
4234                                    NaN
4333                                    NaN
5375                                    NaN
5408                                    NaN
78367                                   NaN
78380                                   NaN
80043     One thousand four hundread ruppes
174628                                  NaN
175278                                  nul
296621                                  nul
297911               Eight hundread ruppess
326593              six hundread and hirty
327258                                  NaN
327259                                  NaN
327260                                  NaN
327261                                  NaN
329847                                  NaN
329848                                  NaN
329849                                  NaN
352298                                  NaN
352662                                  NaN
352663                                  NaN
352664                                  NaN
367935                                  nul
496140                                  NaN
497177               Thousand tow hundread
497245      seven hundread and nine ruppees
497485                                  NaN
554998                                  NaN
555305                                  NaN
555469                                  NaN
555573                                  NaN
555610                                  NaN
555764                                  NaN
558562  Three thousand two hundread ruppess
722325                                  NaN
723874                                  NaN
752560                                  NaN
753131   Four thousand one hundread ruppess
753275                                  NaN
753276                                  NaN
753277                                  NaN
753278                                  NaN
753454                                  NaN
755630                                  NaN

In [7]:
# Here we took out everything which are not numeric in luxury_sales column.

problematic_rows = train_data[~train_data["luxury_sales"].astype(str).str.replace('.', '', 1).str.isnumeric()]
print(problematic_rows[["luxury_sales"]].drop_duplicates())  # Show unique problematic values

                               luxury_sales
4234                                    NaN
80043     One thousand four hundread ruppes
175278                                  nul
297911               Eight hundread ruppess
326593              six hundread and hirty
497177               Thousand tow hundread
497245      seven hundread and nine ruppees
558562  Three thousand two hundread ruppess
753131   Four thousand one hundread ruppess

In [8]:
#80043     One thousand four hundread ruppes
train_data.loc[80043,"luxury_sales"] = 1400

#297911               Eight hundread ruppess
train_data.loc[297911,"luxury_sales"] = 800

#326593              six hundread and hirty
train_data.loc[326593,"luxury_sales"] = 630

#497177               Thousand tow hundread
train_data.loc[497177,"luxury_sales"] = 1200

#497245      seven hundread and nine ruppees
train_data.loc[497245,"luxury_sales"] = 709

#558562  Three thousand two hundread ruppess
train_data.loc[558562,"luxury_sales"] = 3002

#753131   Four thousand one hundread ruppess
train_data.loc[753131,"luxury_sales"] = 4100

train_data['luxury_sales'] = train_data['luxury_sales'].replace('nul', np.nan)

In [9]:
#checking whether they got replaced properly

cleaned_problematic_values = [80043,297911,326593,497177,497245,558562,753131,175278,296621,367935]
train_data.loc[cleaned_problematic_values]

,Customer_ID,outlet_city,luxury_sales,fresh_sales,dry_sales,cluster_catgeory
80043,10774052.0,Kelaniya,1400,1118,5934,4
297911,10189925.0,Kelaniya,800,4003.84,1059.84,2
326593,10467590.0,Nuwara Eliya,630,3420.3,894.54,2
497177,10537755.0,Kandy,1200,2041,6939.4,1
497245,10468127.0,Kandy,709,1032.48,4194.45,1
558562,10076064.0,Trincomalee,3002,10416.9,1923.12,6
753131,10695296.0,Batticaloa,4100,4286.72,4034.56,3
175278,10347733.0,Peliyagoda,NaN,4286.28,nul,2
296621,10215937.0,Panadura,NaN,8155.11,nul,2
367935,10445384.0,Galle,NaN,1919.13,7563.63,2

In [10]:
train_data['luxury_sales'] = train_data['luxury_sales'].astype(float)
train_data.dtypes

Customer_ID         float64
outlet_city          object
luxury_sales        float64
fresh_sales          object
dry_sales            object
cluster_catgeory     object
dtype: object

In [11]:
problematic_rows = train_data[~train_data["fresh_sales"].astype(str).str.replace('.', '', 1).str.isnumeric()]
print(problematic_rows[["fresh_sales"]])

                                fresh_sales
4326                                    NaN
4327                                    NaN
4333                                    NaN
4929                                    NaN
5379                                    NaN
5403                                    NaN
5408                                    NaN
78367                                   NaN
78380                                   NaN
78400                                   NaN
161810         Six hundread and five ruppes
174714                                  nul
268571                                  nul
326334     Three thousana and five hundread
326763                                  NaN
326764                                  NaN
326765                                  NaN
327495                                  nul
327505                                  nul
329931                                  NaN
352298                                  NaN
352658                                  NaN
354153                                  NaN
496138                                  NaN
497003                                  NaN
497445                                  NaN
497446                                  NaN
497447                                  NaN
497598                                  NaN
555470                                  NaN
555607                                  NaN
555764                                  NaN
558897             thirteen thousand ruppes
628150                                  NaN
695316                                  NaN
722329                                  NaN
723874                                  NaN
724767                                  NaN
724768                                  NaN
724769                                  NaN
752560                                  NaN
752816                 Five thousand ruppes
753256  Two thousand seven hundread ruppess
753378                                  NaN
753379                                  NaN
753380                                  NaN
753454                                  NaN
753696                                  NaN
754304                                  NaN
765777                                  NaN

In [12]:
problematic_rows = train_data[~train_data["fresh_sales"].astype(str).str.replace('.', '', 1).str.isnumeric()]
print(problematic_rows[["fresh_sales"]].drop_duplicates())  # Show unique problematic values

                                fresh_sales
4326                                    NaN
161810         Six hundread and five ruppes
174714                                  nul
326334     Three thousana and five hundread
558897             thirteen thousand ruppes
752816                 Five thousand ruppes
753256  Two thousand seven hundread ruppess

In [13]:
#161810         Six hundread and five ruppes
train_data.loc[161810,"fresh_sales"] = 605

#326334     Three thousana and five hundread
train_data.loc[326334,"fresh_sales"] = 3500

#558897             thirteen thousand ruppes
train_data.loc[558897,"fresh_sales"] = 13000

#752816                 Five thousand ruppes
train_data.loc[752816,"fresh_sales"] = 5000

#753256  Two thousand seven hundread ruppess
train_data.loc[753256,"fresh_sales"] = 2700

train_data["fresh_sales"] = train_data["fresh_sales"].replace("nul",np.nan)

In [14]:
#checking whether they got replaced properly

cleaned_problematic_values = [161810,326334,558897,752816,753256,174714,268571,327495,327505,]
train_data.loc[cleaned_problematic_values]

,Customer_ID,outlet_city,luxury_sales,fresh_sales,dry_sales,cluster_catgeory
161810,10261075.0,Panadura,887.36,605,3604.9,4
326334,10006007.0,Kaduwela,758.52,3500,1029.42,2
558897,10314616.0,Batticaloa,3027.36,13000,2081.31,6
752816,10369123.0,Trincomalee,5501.57,5000,5679.04,3
753256,10369199.0,Colombo,2692.80,2700,2861.1,1
174714,10358037.0,Nuwara Eliya,1012.34,NaN,1446.2,2
268571,10047014.0,Panadura,1808.30,NaN,nul,2
327495,10099173.0,Wattala,1303.92,NaN,nul,2
327505,10312003.0,Kaduwela,1303.06,NaN,nul,2

In [15]:
train_data["fresh_sales"] = train_data["fresh_sales"].astype(float)
train_data.dtypes

Customer_ID         float64
outlet_city          object
luxury_sales        float64
fresh_sales         float64
dry_sales            object
cluster_catgeory     object
dtype: object

In [16]:
problematic_rows = train_data[~train_data["dry_sales"].astype(str).str.replace('.', '', 1).str.isnumeric()]
print(problematic_rows[["dry_sales"]])

                                    dry_sales
4929                                      NaN
78400                                     NaN
148029  Four thousand and two hundread ruppes
174631                                    nul
174720                                    nul
175278                                    nul
268571                                    nul
296621                                    nul
327168                                    NaN
327169                                    NaN
327170                                    NaN
327171                                    NaN
327172                                    NaN
327173                                    NaN
327174                                    NaN
327495                                    nul
327505                                    nul
329931                                    NaN
345090                                    NaN
345091                                    NaN
345092                                    NaN
353317                                    NaN
496135                                    NaN
497003                                    NaN
497464                                    NaN
497583                                    NaN
497597                                    NaN
554998                                    NaN
555305                                    NaN
555469                                    NaN
555536                                    NaN
555604                                    NaN
753448                                    NaN
753449                                    NaN
753450                                    NaN
753696                                    NaN
754306                                    NaN
774147                                    NaN

In [17]:
problematic_rows = train_data[~train_data["dry_sales"].astype(str).str.replace('.', '', 1).str.isnumeric()]
print(problematic_rows[["dry_sales"]].drop_duplicates())  # Show unique problematic values

                                    dry_sales
4929                                      NaN
148029  Four thousand and two hundread ruppes
174631                                    nul

In [18]:
#148029   Four thousand and two hundread ruppes
train_data.loc[148029,"dry_sales"] = 4200

train_data["dry_sales"] = train_data["dry_sales"].replace("nul", np.nan)

In [19]:
cleaned_problematic_values = [148029,174631,174720,175278,268571,296621,327495,327505]
train_data.loc[cleaned_problematic_values]

,Customer_ID,outlet_city,luxury_sales,fresh_sales,dry_sales,cluster_catgeory
148029,10190107.0,Dehiwala-Mount Lavinia,931.50,931.50,4200,4
174631,10273730.0,Homagama,1074.36,5141.58,NaN,2
174720,10039004.0,Kaduwela,944.44,4722.20,NaN,2
175278,10347733.0,Peliyagoda,NaN,4286.28,NaN,2
268571,10047014.0,Panadura,1808.30,NaN,NaN,2
296621,10215937.0,Panadura,NaN,8155.11,NaN,2
327495,10099173.0,Wattala,1303.92,NaN,NaN,2
327505,10312003.0,Kaduwela,1303.06,NaN,NaN,2

In [20]:
train_data["dry_sales"] = train_data["dry_sales"].astype(float)
train_data.dtypes

Customer_ID         float64
outlet_city          object
luxury_sales        float64
fresh_sales         float64
dry_sales           float64
cluster_catgeory     object
dtype: object